language: php

php:
  - '5.5'
  - '5.6'
  - '7.0'

sudo: false
%travis.config.extra.env%
matrix:
  fast_finish: true

install:
  - composer build-ci%travis.config.extra.install%

script:
  - composer run-script test

cache:
  files:
    - composer.lock
  directories:
    - $HOME/.composer
    - vendor
