# %git.repository.url_id_without_vendor%

[![Scrutinizer Build Status](https://img.shields.io/scrutinizer/build/g/%git.repository.url_id%.svg?label=Scrutinizer)](https://scrutinizer-ci.com/g/%git.repository.url_id%/?branch=master) [![Scrutinizer Code Quality](https://img.shields.io/scrutinizer/g/%git.repository.url_id%.svg?label=Code%20quality)](https://scrutinizer-ci.com/g/%git.repository.url_id%/?branch=master) [![Code Coverage](https://img.shields.io/scrutinizer/coverage/g/%git.repository.url_id%.svg?label=Coverage)](https://scrutinizer-ci.com/g/%git.repository.url_id%/?branch=master)
%readme.extra.badges%
[![Latest Stable Version](https://img.shields.io/packagist/v/%composer.package.name%.svg)](https://packagist.org/packages/%composer.package.name%)

### Installation
```bash
%readme.extra.install_steps%
```

## Contributing
See [contributing note](./CONTRIBUTING.md)
